body{
    background-color: black;
}
.first{
    margin-top: 40px;
    margin-left: 163px;
    font-size:xx-large;
    font-weight: 600;
    color:whitesmoke;
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
    /* font-weight: 40px; */
}
.first1{
    position: relative;
    color:whitesmoke;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second{
    margin-left: 158px;
    font-size: xx-large;
    color: whitesmoke;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.circle{
    position: relative;
    left: 1019px;
    color: blue;
    font-size: x-large;
    bottom: 116px;
}
.three{
    margin-left: 1066px;
    position: relative;
    bottom: 168px;
    font-size:x-large;
    color: whitesmoke;
    font-weight: 300;
    
}
#start{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    flex-basis: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    justify-content: space-evenly;
   
}
.fa-plus-circle{
    color: blue;
    margin-right: 5px;
    cursor: pointer;
}

#bigbox1{
    border: 2px solid tomato;
    border-radius: 5px;
    width: 360px;
    height: 200px;
    top: 315px;
    position: absolute;
    margin-left: 512px;
    background-color: whitesmoke;
}
label{
    color: red;
    font-size: x-large;
    position: relative;
    left: 90px;
    top: 16px;
    
}
input{
    border-radius: 3px;
    border: 2px solid blanchedalmond;
    width: 271px;
    height: 39px;
    top: 30px;
    position: relative;
    left: 47px;
    font-size:medium;
    color: blueviolet;
    text-align: center;
    

}

#insidee2{
    background-color: red;
    border: 3px solid red;
    border-radius: 22px;
    position: relative;
    left: 45px;
    top: 57px;
    width: 83px;
    color: white;
    font-size: larger;
    height: 37px;
    
}
#insidee3{
    background-color: red;
    border: 3px solid red;
    border-radius: 22px;
    position: relative;
    left: 146px;
    top: 57px;
    width: 90px;
    color: white;
    font-size: larger;
    height: 37px;

}
#top{
    position: relative;
    height: 200px;
    width: 100%;
}

.child{
    border: 2px solid white;
    width: 262px;
    height: 378px;
    position:relative;
    left: 200px;
    margin-right: 30px;
    margin-top: 40px;
    color: red;
    box-sizing: border-box;
    background-color: white;
    
  
}

#thingsudid{
    width: 300px;
    height: 30px;
    position: relative;
}
.write{
    width: 300px;
    height: 390px;
}
.fa-2x{
    font-size: 1.7em;
}
.place{
    text-align: center;
    color: red;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: larger;

}
.fa-plus-square{
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    right: 114px;
    top: 261px;
    /* filter: blur(10px); */
}

#trash{
    position: relative;
    font-size: x-large;
    left: 200px;
    top: 251px;
    color: blue;

}
.fa-trash-alt{
    position: absolute;
    top: 260px;
    left: 203px;
    color: blue;
    cursor: pointer;

}
#place{
    font-size: 22px;
    color: red;
    position: relative;
    left: 30px;
}
#bigbox2{
    border: 2px solid tomato;
    border-radius: 5px;
    width: 360px;
    height: 200px;
    top: 315px;
    position: absolute;
    margin-left: 512px;
    background-color: whitesmoke;
}
label{
    color: red;
    font-size: x-large;
    position: relative;
    left: 90px;
    top: 16px;
    
}
input{
    border-radius: 3px;
    border: 2px solid blanchedalmond;
    width: 271px;
    height: 39px;
    top: 30px;
    position: relative;
    left: 47px;
    font-size:medium;
    color: blueviolet;
    text-align: center;
    

}

#insideee2{
    background-color: red;
    border: 3px solid red;
    border-radius: 22px;
    position: relative;
    left: 45px;
    top: 57px;
    width: 83px;
    color: white;
    font-size: larger;
    height: 37px;
    
}
#insideee3{
    background-color: red;
    border: 3px solid red;
    border-radius: 22px;
    position: relative;
    left: 146px;
    top: 57px;
    width: 90px;
    color: white;
    font-size: larger;
    height: 37px;

}
#main{
    margin-left: 30px;
}
#mainn{
    position: relative;
    color: blue;
    right: 119px;
    top: 57px;
    font-size: larger;

}
#mainn1{
    background-color: greenyellow;
    position: relative;
    top: 82px;
    right: 39px;
    color: white;
    border: 2px solid greenyellow;
    border-radius: 18px; 

}

#diff{
    color: blueviolet;
    position: relative;
    left: 40px;
}
#diff1{
    color: blueviolet;
    position: relative;
    left: 100px;

}


.markdone{
    background-color: skyblue;
    border-radius: 11px;
    position: relative;
    left: 129px;
    font-size: 17px;
    color: hotpink;
}
.innerp{
    position: relative;
    color: brown;
    left: 8px;

}




































